<div *ngIf="editorService.selectedShape">
  <app-rect-properties *ngIf="editorService.selectedShape.type == 'rect'" [canvas]="canvas"></app-rect-properties>
  <app-circle-properties *ngIf="editorService.selectedShape.type == 'circle'" [canvas]="canvas"></app-circle-properties>
  <app-line-properties *ngIf="editorService.selectedShape.type == 'line'" [canvas]="canvas"></app-line-properties>
  <app-doodle-properties *ngIf="editorService.selectedShape.type == 'doodle'" [canvas]="canvas"></app-doodle-properties>
  <app-star-properties *ngIf="editorService.selectedShape.type == 'star'" [canvas]="canvas"></app-star-properties>
  <app-triangle-properties *ngIf="editorService.selectedShape.type == 'triangle'" [canvas]="canvas"></app-triangle-properties>
  <app-polygon-properties *ngIf="editorService.selectedShape.type == 'polygon'" [canvas]="canvas"></app-polygon-properties>
  <app-group-properties *ngIf="editorService.selectedShape.type == 'group'" [canvas]="canvas"></app-group-properties>
</div>
